@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Roboto:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Amatic+SC:wght@700&family=Barlow:wght@400;700&family=Comic+Neue:wght@700&family=Dancing+Script:wght@400;500;600;700&family=Edu+SA+Beginner:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
}

/*start of header and hero sections*/
.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(banner.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 150px;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: white;
    text-decoration: none;
    font-size: 13px;
    font-family: 'Comic Neue', cursive;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.hero {
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.hero h1 {
    font-size: 62px;
    font-family: 'Comic Neue', cursive;
}

.hero p {
    margin: 10px 0 40px;
    font-size: 20px;
    color: white;
    font-family: 'Abel', sans-serif;
}

.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-btn:hover {
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}

nav .fa {
    display: none;
}

@media(max-width:700px) {
    .hero h1 {
        font-size: 20px;
        font-family: 'Comic Neue', cursive;
    }

    .nav-links ul li {
        display: block;
    }

    .nav-links {
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }

    nav .fa {
        display: block;
        color: white;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }

    .nav-links {
        padding: 30px;
    }
}

/*end of header and hero*/
/*start of contact section*/
#forms h2 {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: bold;
    color: #032e69;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

#forms {
    margin: 5% 25%;
    padding: 70px;
    background-color: white;
    text-align: center;
}

#forms .form-group {
    font-size: 20px;
    color: #032e69;
    font-weight: bold;
}

input {
    width: 250px;
    padding: 5px;
    margin: 2px 0;
}

#forms .button {
    font-size: 15px;
    font-weight: bold;
    color: white;
    background-color: #032e69;
    border: 1px solid #032e69;
}

#forms .button:hover {
    color: #032e69;
    background-color: white;
}

.info {
    font-size: 20px;
    color: #032e69;
    font-weight: bold;
    padding: 15px;
    font-family: 'Comic Neue', cursive;

}

#contact {
    padding: 20px;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(about.jpg);
}

#connect {
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(banner2.jpg);
}

/*end of contact section*/
/*start of footer section*/
footer {
    padding: 10px;
    color: #032e69;
    background-color: white;
    text-align: center;
    font-weight: bold;
    font-family: 'Abel', sans-serif;
}

/*end of footer section*/
/*Let's Connect*/
#name-validation,
#email-validation,
#message-validation {
    color: red;
    font-size: 14px;
    display: none;
    font-family: 'Abel', sans-serif;
}

/*Admission Section*/
#admission img {

    display: block;
    margin-left: auto;
    margin-right: auto;

    border-radius: 10px;

}

#admission {
    background-color: #eafdfc;
    padding: 10px 0;
}

#admission h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 40px;
    font-weight: bold;
    color: #032e69;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

#admission h2 {

    font-size: 30px;
    padding: 10px;
    font-weight: bold;
    color: #032e69;
    font-family: 'Comic Neue', cursive;
    text-align: center;
}

.card {
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    margin: 1rem;
    position: relative;
}

.card-1 {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.card-1:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

#courses h2 {
    margin-top: 5%;
    font-size: 30px;
    padding: 10px;
    font-weight: bold;
    color: #032e69;
    font-family: 'Comic Neue', cursive;
    text-align: center;
}

#admission h3 {
    margin-left: 5%;
    margin-right: 5%;
    font-size: 20px;
    font-family: 'Comic Neue', cursive;
    font-weight: 900;
    text-align: left;
}

#admission p {
    margin-left: 5%;
    margin-right: 5%;
    font-size: 20px;
    font-family: 'Abel', sans-serif;
    font-weight: bolder;
    text-align: left;
}

#admission li {
    margin-left: 5%;
    margin-right: 5%;
    display: inline;
    color: #032e69;
    padding: 0;
    font-weight: bold;
    font-size: 15px;
    font-family: 'Barlow', sans-serif;
}

.Uni {
    color: #032e69;
    font-family: 'Barlow', sans-serif;
    text-indent: 10%;
}

#admission button {
    font-size: 19px;
    background-color: white;
    padding: 10px 20px;
    font-weight: bold;
    border: 1px solid black;
    color: #032e69;
    display: flex;
    align-items: center;
    margin: auto;
}

#admission button:hover {
    background-color: #032e69;
    color: white;
    border: 1px solid #f4b41a;
}

/*end of admission section*/
/*start of academics section*/
#courses {
    background-color: #eafdfc;
    padding: 10px 0;
}

#academic {
    width: 80%;
    margin-left: 5%;
    text-align: center;
    padding: 100px;
}

#courses h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 40px;
    font-weight: bold;
    color: #032e69;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.course-col {
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}

#academic h3 {
    text-align: center;
    font-weight: 600px;
    margin: 10px 0;
}

#courses h3 {
    padding-top: 3%;

    margin-left: 5%;
    margin-right: 5%;
}

#courses h4 {
    margin-left: 5%;
    margin-right: 5%;
}

#courses .syl {
    margin-left: 5%;
    margin-right: 5%;
}

.course-col:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 1);
}

#courses button {
    margin-left: 5%;
    margin-right: 5%;
}

@media (max-width:700px) {
    .row {
        flex-direction: column;
    }
}

.list {
    color: #032e69;
    font-family: 'Abel', sans-serif;
    font-size: 20px;
}

#courses button {
    font-size: 19px;
    background-color: white;
    padding: 10px 20px;
    font-weight: bold;
    border: 1px solid black;
    color: #032e69;
    display: inline-block;
    align-items: center;
    margin: auto;
}

#courses button:hover {
    background-color: #032e69;
    color: white;
    border: 1px solid #f4b41a;
}



.box {
    width: 14.8%;
    float: center;
    text-align: center;
    padding: 10px;
}

.box h3 {
    text-align: center;
}

#academic h2 {
    color: #032e69;
    font-size: 45px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

#academic h3 {
    font-size: 22px;
    font-family: 'Comic Neue', cursive;
    font-weight: bolder;
}

#academic p {
    font-size: 18px;
    color: black;
    font-family: 'Abel', sans-serif;
    padding: 10px;
    color: #032e69;
}

/*end of academic section*/

/*start of about section*/
#about {
    background-color: #eafdfc;
    padding: 10px 0;
}

#Know h2 {
    margin-top: 20px;
    padding: 10px;
    font-size: 45px;
    font-family: 'Roboto', sans-serif;
    color: #032e69;
    float: center;
    text-align: center;
}

#Know p {
    padding: 10px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: #032e69;
    float: center;
    text-align: center;
}

#about h3 {
    font-size: 20px;
    font-family: 'Abel', sans-serif;
    color: #032e69;
    float: center;
    text-align: center;
    font-weight: bold;
}

#about h2 {

    padding: 10px;
    font-size: 45px;
    font-family: 'Roboto', sans-serif;
    color: #032e69;

    text-align: center;
}

#about p {
    padding: 10px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    color: #032e69;
    float: center;
    text-align: center;
}

.card {
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    margin: 1rem;
    position: relative;
}

.card-1 {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.box card card-1 p {
    width: 100%;
    float: center;
    padding: 10px;
    text-align: justify;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #032e69;

}

.intro {
    font-size: 20px;
    font-family: 'Edu SA Beginner', cursive;
    font-weight: bold;
    color: #032e69;
    text-align: center;

}

.box {
    width: 14.8%;
    float: inline-start;
    text-align: center;
    padding: 10px;
}

.box card card-1 h3 {
    text-align: center;
}

/*end of about section*/
/*start of campus section*/
.campus {
    width: 80;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.campus h2 {
    margin-top: -60px;
    padding: 10px;
    font-size: 45px;
    font-family: 'Roboto', sans-serif;
    color: #032e69;
    float: center;
    text-align: center;
}

.campus-col {
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}

.campus-col img {
    width: 80%;
}

/*end of campus section*/
/*start of facilities section*/
.facilities {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

#facilities h2 {
    margin-top: 30px;
    padding: 10px;
    font-size: 45px;
    font-family: 'Roboto', sans-serif;
    color: #032e69;
    float: center;
    text-align: center;
}

#facilities h3 {

    padding: 10px;
    font-size: 20px;
    font-family: 'Abel', sans-serif;
    color: #032e69;
    float: center;
    text-align: center;
}

#facilities p {
    padding: 10px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: #032e69;
    float: center;
    text-align: center;
}

.facilities-col {
    margin-left: 5%;
    margin-right: 5%;
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}

.facilities-col img {
    width: 100%;
    border-radius: 10px;
}

/*end of facilities section*/
/*CALL OF ACTION*/
.cta {
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(banner2.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}

.cta h1 {
    color: white;
    margin-bottom: 40px;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    padding: 0;
}